/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$container-fluid-padding: 60px;
$font-family-base: 'Open Sans', sans-serif;

$link-color:        #0088cc;
$link-hover-color:  #0088cc;